@font-face {
	font-family: "London Tube";
	src: url("../lib/fonts/TUBE.eot") format("eot"), url("../lib/fonts/TUBE.woff") format("woff"), url("../lib/fonts/TUBE.ttf") format("truetype"), url("TUBE.svg#London-Tube") format("svg");
	font-weight: normal;
	font-style: normal;
}

body {
	background: #fff;
	color: #1B2021;
    font-family: 'Roboto', sans-serif;
	font-size: 10pt;
	font-style: normal;
}

a {
	color: #DBBEB6;
	transition: all 0.3s ease-in-out;
	border-bottom: 1.5px solid transparent;
}

a:active,
a:hover {
	color: #f39a8d;
	outline: 0;
	text-decoration: none;
	border-color: #f39a8d;
}

.ekko-lightbox-nav-overlay a{
font-weight: none;
color: #1B2021;
border-bottom: none;
transition: none;
}

.ekko-lightbox-item .img-fluid{
border: none;
box-shadow: none;
}

.ekko-lightbox.modal {
	align-items: normal;
	text-align: center;
}

p {
	padding: 0;
	margin: 0;
}

h1,
.nav-name {
	font-family: 'London Tube';
	color: #1B2021;
	letter-spacing: 15px;
	font-size: 10pt;
	font-weight: 600;
	margin: 0px;
	text-align: center;
	transition: font-size 0.5s;
}

h2,
h3,
h4,
h5,
h6 {
	font-family: 'London Tube';
	font-size: 16pt;
	letter-spacing: 6.5px;
	text-transform: uppercase;
	font-weight: bold;
	margin: 0 0 20px 0;
	padding: 0
}

.nav {
	display: flex;
	align-items: center;
	background: #fff;
	padding: 18px 10px;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
  	z-index: 999;
	 border-bottom: 1px solid black;
	 transition: padding 0.5s;
}

.nav-description {
	font-family: 'London Tube';
	color: #1B2021;
	letter-spacing: 5px;
	font-size: 8pt;
	font-weight: 300;
	text-align: center;
	margin: 0px;
	transition: font-size 0.5s;
}

.nav-descript {
	padding-top: 10px;
}

.hero {
	padding: 100px 0px 0px 0px;
	display: block;
	margin: auto;
	max-height: 100%;
	max-width: 100%;
}

.arrow {
	opacity: 0;
	position: absolute;
	left: 46%;
	bottom: 0;
	padding-bottom: 50px;
	animation: arrow-movement 3s ease-in-out infinite;

}

.arrow:before,
.arrow:after {
	background: #fff;
	content: '';
	display: block;
	height: 3px;
	position: absolute;
	top: 0;
	left: 0;
	width: 30px;
}

.arrow:before {
	transform: rotate(45deg) translateX(-23%);
	transform-origin: top left;
}

.arrow:after {
	transform: rotate(-45deg) translateX(23%);
	transform-origin: top right;
}

@keyframes arrow-movement {
	0% {
		opacity: 0;
	}
	70% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

.back-to-top {
	position: fixed;
	display: none;
	background: rgba(0, 0, 0, .2);
	color: #fff;
	padding: 6px 12px 9px 12px;
	font-size: 16px;
	border-radius: 2px;
	right: 15px;
	bottom: 15px;
	transition: background .5s;
	border-bottom: none;
}

.back-to-top:focus {
	background: rgba(0, 0, 0, .2);
	color: #fff;
	outline: 0
}

.back-to-top:hover {
	background: rgba(0, 0, 0, .7);
	opacity: 0.6;
	color: #fff
}

a [data-toggle=lightbox] {
	cursor: -webkit-zoom-in;
	cursor: -moz-zoom-in;
}

#menus {
  background-color: #faf6f5;
  color: #1B2021;
  margin: 0px;
  text-align: center;
  display: flex;
  align-items: center;
}

#menus, #details{
  padding: 40px 10px;
}

.text{
  padding: 25px 0px;
}

#menus p {
  padding-bottom: 40px;
}

.menu {
  margin: 0px;
  padding: 10px;
}

.img-fluid {
  border: 1px solid black;
  box-shadow: 2px 2px black;
}

.img-fluid:hover{
  cursor:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>🍺</text></svg>") 16 0,auto; /*emojicursor.app*/

}

#details {
  display: flex;
  text-align: center;
  align-items: center;
}

.google-map {
  min-height: 320px;
  height: 100%;
}


.map {
	margin: 0px;
	padding: 0px 0px 20px 0px;
	width: 100%;
}

#final-image {
	display: block;
	margin: auto;
	max-height: 100%;
	max-width: 100%;
}

#footer {
	position: relative;
	font-family: "London Tube";
	clear: both;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: #000;
	color: white;
	padding: 30px 0px;
  text-align: center;
  font-size: 16pt;
}

.footer-heading {
	margin-bottom: 0px;
}

address {
	font-style: normal;
	margin-bottom: 0;
}

.contact-links {
	margin: 5px;
}

.tel-link,
.email-link {
	color: #f6e2df;
	margin: 0px 10px 0px 7px;
	border-bottom: 1.5px solid transparent;
}

.tel-link:hover,
.email-link:hover {
	border-color: white;
	color: white;
}

.fab {
	padding: 10px;
	font-size: 25px;
	width: 25px;
	text-align: center;
	text-decoration: none;
	margin: 15px 5px;
	border-radius: 50%;
	background: white;
	color: #1B2021;
	box-sizing: unset;
}

.fab:hover {
	background: #1B2021;
	color: white;
	transition: 1s;
	-webkit-animation: pulse 1s;
	animation: pulse 1s;
	border-bottom: none;
}
@media (min-width: 340px) {
body{
	font-size: 14pt;
}
h1,
.nav-name {
font-size: 14pt;
}
.nav-description {
font-size: 10pt;
}
h2,
h3,
h4,
h5,
h6 {
	font-size: 22pt;
}

.nav{
	padding: 22px 10px;
}

}
@media (min-width: 500px) {
	.nav-name {
		letter-spacing: 15px;
		font-size: 22pt;
	}
	.nav {
		padding: 22px 40px;
	}
	h2,
	h3,
	h4,
	h5,
	h6 {
		font-size: 22pt;
  }
  #menus, #details{
    padding: 60px 0px;
  }
  .text{
    padding: 40px 0px;
  }
  .smallNav{
padding: 18px 40px;
  }
  .smallNavName{
font-size: 18pt;
  }
  .smallNavDescript{
font-size: 8pt;

  }
}

@media (max-width:768px) {
	.back-to-top {
		bottom: 15px
	}
}

@media (min-width: 900px) {

  body{
    font-size: 20pt;
  }

	.details-content {
		padding: 30px 0px 30px 50px;
	}
	#footer {
		text-align: left;
	}
	.fa {
		margin: 0px 5px;
	}
	address {
		margin-right: 20px;
	}
	.contact-links {
		margin: 0px;
		display: inline-block;
		align-items: center;
	}
	.contact-links br {
		display: none;
  }
  
  .google-map{
    padding-top: 40px;
  }
	.social-links {
		width: 100%;
		margin-left: auto;
		float: right;
		text-align: right;
	}
}

@media (min-width: 990px) {
	.nav-name {
		text-align: left;
	}
	.nav-description {
		text-align: right;
	}
	.nav-descript {
		padding: 0px;
	}
}

@media (min-width: 1200px) {
  body{
  font-size: 22pt;
}
h2{
  font-size: 24pt;
}
}